<div class="row">
        <div class="col-xs-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
            <div class="card mt-5">
                <h2 class="mt-5 ml-5 mr-5">Registration</h2>
                <form >
                        <div class="row mt-5 ml-5 mr-5">
                            <div class="col-12">
                                <button class="btn c"><a (click)="RegC()">Customer Registration</a></button>
                            </div>
                            <div class="col-12 mt-5">
                                <button class="btn c"><a (click)="RegV()">Vendor Registration</a></button><br><br><br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
