  <div class="row v">
  <div class="col-sm-11 mt-5 ml-5 mr-5 mb-5 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center c">Vendor Details</h3>
      </div>
      <div>
        <ul class="list-group">
          <li class="list-group-item ">
            <div class="text-black mt-auto">
             <b> Name of the Vendor </b>
              <p class="float-right mt-auto">
                {{vendor.nov}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
              <div class="text-black mt-auto">
                  <b> Company Reg. Number </b>
                <p class="float-right mt-auto">
                  {{vendor.comp}}
                </p>
              </div>
            </li>
            <li class="list-group-item ">
                <div class="text-black mt-auto">
                    <b>  Vendor Type </b>
                  <p class="float-right mt-auto">
                    {{vendor.vendortype}}
                  </p>
                </div>
              </li>
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b> Address </b>
              <p class="float-right mt-auto">
                {{vendor.address}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
              <div class="text-black mt-auto">
                  <b>  Country </b>
                <p class="float-right mt-auto">
                  {{vendor.country}}
                </p>
              </div>
            </li>
            <li class="list-group-item ">
                <div class="text-black mt-auto">
                    <b> State </b>
                  <p class="float-right mt-auto">
                    {{vendor.state}}
                  </p>
                </div>
              </li>
         
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b> Email Address </b>
              <p class="float-right mt-auto">
                {{vendor.ea}}
              </p>
            </div>
          </li>
          
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b> Contact Number</b>
              <p class="float-right mt-auto">
                {{vendor.cn}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b>Website</b>
              <p class="float-right mt-auto">
                {{vendor.ws}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b> Certificate Issued Date </b>
              <p class="float-right mt-auto">
                {{vendor.cid |date}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b> Certificate Validity date </b>
              <p class="float-right mt-auto">
                {{vendor.cvd |date}}
              </p>
            </div>
          </li>
          <li class="list-group-item ">
            <div class="text-black mt-auto">
                <b>  Year of Establishment </b>
              <p class="float-right mt-auto">
                {{vendor.yoe|date}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>