.register-btn {
	background-color: chocolate;
    color: white;
    float: right;
}

.search-bar {
	background-image:
	url("https://images.unsplash.com/photo-1456072618334-0282c67d78ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");	
	width: 100%;
}

.v {
	background-image:
	url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1");	
    height: 50em;
}